bin
obj
dyn
logs
appSettings.json
*csproj.user
launchSettings.json
.vs
Scripts/nugets/*
push_nuget.sinapsi.ro.bat
node_modules
Metapsi.WebComponentGenerator/dist
Metapsi.Shoelace.Generate/dist
Metapsi.Ionic.Generate/dist
/Metapsi.Luxon.Generate/tsconfig.tsbuildinfo
/Metapsi.Luxon.Generate/dist
/Metapsi.WebComponentGenerator/tsconfig.tsbuildinfo
packages