<Project Sdk="Microsoft.NET.Sdk">
  <ItemGroup>
    <EmbeddedResource Include="embedded\swiper-bundle.min.mjs" LogicalName="swiper@11.2.6/swiper-bundle.min.mjs" />
    <EmbeddedResource Include="embedded\swiper-bundle.mjs" LogicalName="swiper@11.2.6/swiper-bundle.mjs" />
    <EmbeddedResource Include="embedded\swiper-effect-utils.min.mjs" LogicalName="swiper@11.2.6/swiper-effect-utils.min.mjs" />
    <EmbeddedResource Include="embedded\swiper-effect-utils.mjs" LogicalName="swiper@11.2.6/swiper-effect-utils.mjs" />
    <EmbeddedResource Include="embedded\swiper-element-bundle.min.mjs" LogicalName="swiper@11.2.6/swiper-element-bundle.min.mjs" />
    <EmbeddedResource Include="embedded\swiper-element-bundle.mjs" LogicalName="swiper@11.2.6/swiper-element-bundle.mjs" />
    <EmbeddedResource Include="embedded\swiper-element.min.mjs" LogicalName="swiper@11.2.6/swiper-element.min.mjs" />
    <EmbeddedResource Include="embedded\swiper-element.mjs" LogicalName="swiper@11.2.6/swiper-element.mjs" />
    <EmbeddedResource Include="embedded\swiper-react.mjs" LogicalName="swiper@11.2.6/swiper-react.mjs" />
    <EmbeddedResource Include="embedded\swiper-vue.mjs" LogicalName="swiper@11.2.6/swiper-vue.mjs" />
    <EmbeddedResource Include="embedded\swiper.min.mjs" LogicalName="swiper@11.2.6/swiper.min.mjs" />
    <EmbeddedResource Include="embedded\swiper.mjs" LogicalName="swiper@11.2.6/swiper.mjs" />
    <EmbeddedResource Include="embedded\modules\a11y.min.mjs" LogicalName="swiper@11.2.6/modules/a11y.min.mjs" />
    <EmbeddedResource Include="embedded\modules\a11y.mjs" LogicalName="swiper@11.2.6/modules/a11y.mjs" />
    <EmbeddedResource Include="embedded\modules\autoplay.min.mjs" LogicalName="swiper@11.2.6/modules/autoplay.min.mjs" />
    <EmbeddedResource Include="embedded\modules\autoplay.mjs" LogicalName="swiper@11.2.6/modules/autoplay.mjs" />
    <EmbeddedResource Include="embedded\modules\controller.min.mjs" LogicalName="swiper@11.2.6/modules/controller.min.mjs" />
    <EmbeddedResource Include="embedded\modules\controller.mjs" LogicalName="swiper@11.2.6/modules/controller.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-cards.min.mjs" LogicalName="swiper@11.2.6/modules/effect-cards.min.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-cards.mjs" LogicalName="swiper@11.2.6/modules/effect-cards.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-coverflow.min.mjs" LogicalName="swiper@11.2.6/modules/effect-coverflow.min.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-coverflow.mjs" LogicalName="swiper@11.2.6/modules/effect-coverflow.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-creative.min.mjs" LogicalName="swiper@11.2.6/modules/effect-creative.min.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-creative.mjs" LogicalName="swiper@11.2.6/modules/effect-creative.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-cube.min.mjs" LogicalName="swiper@11.2.6/modules/effect-cube.min.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-cube.mjs" LogicalName="swiper@11.2.6/modules/effect-cube.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-fade.min.mjs" LogicalName="swiper@11.2.6/modules/effect-fade.min.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-fade.mjs" LogicalName="swiper@11.2.6/modules/effect-fade.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-flip.min.mjs" LogicalName="swiper@11.2.6/modules/effect-flip.min.mjs" />
    <EmbeddedResource Include="embedded\modules\effect-flip.mjs" LogicalName="swiper@11.2.6/modules/effect-flip.mjs" />
    <EmbeddedResource Include="embedded\modules\free-mode.min.mjs" LogicalName="swiper@11.2.6/modules/free-mode.min.mjs" />
    <EmbeddedResource Include="embedded\modules\free-mode.mjs" LogicalName="swiper@11.2.6/modules/free-mode.mjs" />
    <EmbeddedResource Include="embedded\modules\grid.min.mjs" LogicalName="swiper@11.2.6/modules/grid.min.mjs" />
    <EmbeddedResource Include="embedded\modules\grid.mjs" LogicalName="swiper@11.2.6/modules/grid.mjs" />
    <EmbeddedResource Include="embedded\modules\hash-navigation.min.mjs" LogicalName="swiper@11.2.6/modules/hash-navigation.min.mjs" />
    <EmbeddedResource Include="embedded\modules\hash-navigation.mjs" LogicalName="swiper@11.2.6/modules/hash-navigation.mjs" />
    <EmbeddedResource Include="embedded\modules\history.min.mjs" LogicalName="swiper@11.2.6/modules/history.min.mjs" />
    <EmbeddedResource Include="embedded\modules\history.mjs" LogicalName="swiper@11.2.6/modules/history.mjs" />
    <EmbeddedResource Include="embedded\modules\index.min.mjs" LogicalName="swiper@11.2.6/modules/index.min.mjs" />
    <EmbeddedResource Include="embedded\modules\index.mjs" LogicalName="swiper@11.2.6/modules/index.mjs" />
    <EmbeddedResource Include="embedded\modules\keyboard.min.mjs" LogicalName="swiper@11.2.6/modules/keyboard.min.mjs" />
    <EmbeddedResource Include="embedded\modules\keyboard.mjs" LogicalName="swiper@11.2.6/modules/keyboard.mjs" />
    <EmbeddedResource Include="embedded\modules\manipulation.min.mjs" LogicalName="swiper@11.2.6/modules/manipulation.min.mjs" />
    <EmbeddedResource Include="embedded\modules\manipulation.mjs" LogicalName="swiper@11.2.6/modules/manipulation.mjs" />
    <EmbeddedResource Include="embedded\modules\mousewheel.min.mjs" LogicalName="swiper@11.2.6/modules/mousewheel.min.mjs" />
    <EmbeddedResource Include="embedded\modules\mousewheel.mjs" LogicalName="swiper@11.2.6/modules/mousewheel.mjs" />
    <EmbeddedResource Include="embedded\modules\navigation.min.mjs" LogicalName="swiper@11.2.6/modules/navigation.min.mjs" />
    <EmbeddedResource Include="embedded\modules\navigation.mjs" LogicalName="swiper@11.2.6/modules/navigation.mjs" />
    <EmbeddedResource Include="embedded\modules\pagination.min.mjs" LogicalName="swiper@11.2.6/modules/pagination.min.mjs" />
    <EmbeddedResource Include="embedded\modules\pagination.mjs" LogicalName="swiper@11.2.6/modules/pagination.mjs" />
    <EmbeddedResource Include="embedded\modules\parallax.min.mjs" LogicalName="swiper@11.2.6/modules/parallax.min.mjs" />
    <EmbeddedResource Include="embedded\modules\parallax.mjs" LogicalName="swiper@11.2.6/modules/parallax.mjs" />
    <EmbeddedResource Include="embedded\modules\scrollbar.min.mjs" LogicalName="swiper@11.2.6/modules/scrollbar.min.mjs" />
    <EmbeddedResource Include="embedded\modules\scrollbar.mjs" LogicalName="swiper@11.2.6/modules/scrollbar.mjs" />
    <EmbeddedResource Include="embedded\modules\thumbs.min.mjs" LogicalName="swiper@11.2.6/modules/thumbs.min.mjs" />
    <EmbeddedResource Include="embedded\modules\thumbs.mjs" LogicalName="swiper@11.2.6/modules/thumbs.mjs" />
    <EmbeddedResource Include="embedded\modules\virtual.min.mjs" LogicalName="swiper@11.2.6/modules/virtual.min.mjs" />
    <EmbeddedResource Include="embedded\modules\virtual.mjs" LogicalName="swiper@11.2.6/modules/virtual.mjs" />
    <EmbeddedResource Include="embedded\modules\zoom.min.mjs" LogicalName="swiper@11.2.6/modules/zoom.min.mjs" />
    <EmbeddedResource Include="embedded\modules\zoom.mjs" LogicalName="swiper@11.2.6/modules/zoom.mjs" />
    <EmbeddedResource Include="embedded\shared\classes-to-selector.min.mjs" LogicalName="swiper@11.2.6/shared/classes-to-selector.min.mjs" />
    <EmbeddedResource Include="embedded\shared\classes-to-selector.mjs" LogicalName="swiper@11.2.6/shared/classes-to-selector.mjs" />
    <EmbeddedResource Include="embedded\shared\create-element-if-not-defined.min.mjs" LogicalName="swiper@11.2.6/shared/create-element-if-not-defined.min.mjs" />
    <EmbeddedResource Include="embedded\shared\create-element-if-not-defined.mjs" LogicalName="swiper@11.2.6/shared/create-element-if-not-defined.mjs" />
    <EmbeddedResource Include="embedded\shared\create-shadow.min.mjs" LogicalName="swiper@11.2.6/shared/create-shadow.min.mjs" />
    <EmbeddedResource Include="embedded\shared\create-shadow.mjs" LogicalName="swiper@11.2.6/shared/create-shadow.mjs" />
    <EmbeddedResource Include="embedded\shared\effect-init.min.mjs" LogicalName="swiper@11.2.6/shared/effect-init.min.mjs" />
    <EmbeddedResource Include="embedded\shared\effect-init.mjs" LogicalName="swiper@11.2.6/shared/effect-init.mjs" />
    <EmbeddedResource Include="embedded\shared\effect-target.min.mjs" LogicalName="swiper@11.2.6/shared/effect-target.min.mjs" />
    <EmbeddedResource Include="embedded\shared\effect-target.mjs" LogicalName="swiper@11.2.6/shared/effect-target.mjs" />
    <EmbeddedResource Include="embedded\shared\effect-virtual-transition-end.min.mjs" LogicalName="swiper@11.2.6/shared/effect-virtual-transition-end.min.mjs" />
    <EmbeddedResource Include="embedded\shared\effect-virtual-transition-end.mjs" LogicalName="swiper@11.2.6/shared/effect-virtual-transition-end.mjs" />
    <EmbeddedResource Include="embedded\shared\get-element-params.min.mjs" LogicalName="swiper@11.2.6/shared/get-element-params.min.mjs" />
    <EmbeddedResource Include="embedded\shared\get-element-params.mjs" LogicalName="swiper@11.2.6/shared/get-element-params.mjs" />
    <EmbeddedResource Include="embedded\shared\ssr-window.esm.min.mjs" LogicalName="swiper@11.2.6/shared/ssr-window.esm.min.mjs" />
    <EmbeddedResource Include="embedded\shared\ssr-window.esm.mjs" LogicalName="swiper@11.2.6/shared/ssr-window.esm.mjs" />
    <EmbeddedResource Include="embedded\shared\swiper-core.min.mjs" LogicalName="swiper@11.2.6/shared/swiper-core.min.mjs" />
    <EmbeddedResource Include="embedded\shared\swiper-core.mjs" LogicalName="swiper@11.2.6/shared/swiper-core.mjs" />
    <EmbeddedResource Include="embedded\shared\update-on-virtual-data.min.mjs" LogicalName="swiper@11.2.6/shared/update-on-virtual-data.min.mjs" />
    <EmbeddedResource Include="embedded\shared\update-on-virtual-data.mjs" LogicalName="swiper@11.2.6/shared/update-on-virtual-data.mjs" />
    <EmbeddedResource Include="embedded\shared\update-swiper.min.mjs" LogicalName="swiper@11.2.6/shared/update-swiper.min.mjs" />
    <EmbeddedResource Include="embedded\shared\update-swiper.mjs" LogicalName="swiper@11.2.6/shared/update-swiper.mjs" />
    <EmbeddedResource Include="embedded\shared\utils.min.mjs" LogicalName="swiper@11.2.6/shared/utils.min.mjs" />
    <EmbeddedResource Include="embedded\shared\utils.mjs" LogicalName="swiper@11.2.6/shared/utils.mjs" />
  </ItemGroup>
</Project>